</br>
<div id="feedback">
  <div id="feedbackTopic">
    <font size='5' face="微軟正黑體"><b><%@showFeedbackContext.name%>提到...<%=@showFeedbackContext.topic%></br></b></font>
  </div>
  <div id="feedbackContext"> 
    <%= simple_format @showFeedbackContext.context%>
  </div>
  </br>
  </br>
</div> 
<div id="answerContext">
  <font size='5' face="微軟正黑體"><b>校方回應</b></font>
    <table class="reply">
        <thead>
        </thead>
         <tbody>
                <% @showAnswerContext.each do |show| -%>
                        <tr><td></br><%= simple_format show.context %></br></br><%= show.updated_at%></td></tr>
			
                <% end-%>
        </tbody>
    </table>
</div>

</br>

<div id="discussDiv">
</br>
</br>
</br>
<font face="微軟正黑體" size="5"><b>討論</b></font>
<table class="discuss">
        <thead>
                <tr><th></th></tr>
        </thead>
         <tbody>
                <% @showDiscussContext.each do |show| -%>
                        <tr>
			  <td>
			    <font face="微軟正黑體" color="#7f4040"><b><%=show.name%>提到...</b></font>
			    </br>
			    <font face="微軟正黑體"><%=simple_format show.context%></br></br><%= show.updated_at%></font>
			    </br>
			    </br>	
			  </td>
			</tr>
                <% end-%>
        </tbody>
  </table>

  <%= form_tag '/home/savediscuss', :id=>'discuss',:method=>nil  do %>
        <%= label :discuss, :name, "稱呼"%>      
	<%= text_field :discuss, :name, :value=>"匿名"%>

        <%= label :discuss, :phone,'電話'%>
        <%= text_field :discuss, :phone%>


        <%= label :discuss, :email,'email'%>
        <%= text_field :discuss, :email%>
	
	<%= hidden_field :discuss ,:feedback_id, :value=>@id%>

        <%= label :discuss, :context, "留言"%>
        <%= text_area :discuss, :context%>

        <%= submit_tag '確定'%>
  <% end%>
</div>

