<!DOCTYPE html>
<html>
<head>
  <title>夢想藝文客棧</title>


  <script type="text/javascript" src="jquery.jcoverflip.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
  $(function(){
    $('#flip').jcoverflip();
 
  });
</script>
</head>
<body  onresize = "adjustWidth()" style="background-size:100% 1700px;
background: #fefcea; /* Old browsers */
background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */

">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=400625820030089";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <%= javascript_include_tag :defaults %>
  <div class="fb-like-box" data-href="https://www.facebook.com/hakkaspots" data-width="250" data-show-faces="true" data-stream="true" data-header="true" style="float:right; margin-top:250px;height:300px"></div>
  </div>
  <div id="all">
    <div id="back-bar">
      <ul><font face="微軟正黑體">
        <% if user_signed_in? %>
          <li><%= link_to '登出', destroy_user_session_path, :method => 'delete'%></li>
          <li><%= link_to '問題列表', new_teacher_path%></li>
          <li><%= link_to '後台主頁', teacher_index_path%></li>
        <% else %>
          <li><%= link_to '教師登入', new_user_session_path %></li>
        <% end %>
      </ul></font>
    </div>
    <div id="top">
      <div id="top-left"><%=link_to image_tag("#{'logo.png'}"), root_path%></div>
      <div id="top-right">
	<div id="top-right-briefintro">
	  <h2><b><font face="微軟正黑體" color="#7f0000">夢 &nbsp;想 &nbsp;藝 &nbsp;文 &nbsp;客 &nbsp;棧&nbsp;</font></b></h2>
	      <font face="微軟正黑體" size="3"><b>富光國中</b></font></br>
	      <font face="微軟正黑體" size="2">學校發展多年&nbsp;&nbsp;持續打造夢想學校</br>培養學生一技之長&nbsp;&nbsp;讓學生體驗創業學習的歷程</br></font>

	</div>
	<div id="top-right-bar">
	  <ul><font face="微軟正黑體">
	    <% if user_signed_in?%>
	    <% else%>
	      <li><%= link_to "聯絡我們", new_home_path%></li>
	      <li><%= link_to "關於我們", home_aboutus_path%></li>
	      <li><%= link_to "未來展望", home_dreamcoffee_path%></li>
	      <li><%= link_to "體驗課程", home_feel_path%></li>
	      <li><%= link_to "開幕活動", home_activity_path%></li>
	      <li><%= link_to "活動目標", home_goal_path%></li>
	    <%end%>
	  </ul></font>
	</div>
      </div>
    </div>
    <div id="main">
      </br>
      <%= yield %>
    </div>
    <div id="bottom">
	<font face="微軟正黑體" size="2"><b></br></br>新竹縣關西鎮東光里十六張49號　Tel:(03)5872224　Fax:(03)5877224
	</br>清華大學 DreamPocket 團隊製作         Copyright © 2013-2013</font>
    </div>
    <p align="center"><a href="http://www.voxeo.com"><img src="http://www.hot-hit-counter.com/counter?id=EA0A98DD-05EF-4C72-826A-8B4A3C5EAEC3&style=d_n-iron2,ml_6" border="0" alt="ivr"/></a></p>
    </br>
  </div>
</body>
</html>

<script>
adjustWidth();

function adjustWidth(){
  var w = 0;
  var mysize = 1000;
  if (document.body.clientWidth){
    w = document.body.clientWidth;
  }
  var allDiv = document.getElementById("all");
  var st = (w-1000)/2;
  if(st>0){
    allDiv.style.left = st+"px";
  }
}
</script>
