<!DOCTYPE html>
<html>
<head>
  <title>Project1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body  onresize = "adjustWidth()" style="background-color:#9fbf7f">
  <%= javascript_include_tag :defaults %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div id="back-bar">
    <ul><font face="微軟正黑體">
      <% if user_signed_in? %>
        <li><%= link_to '登出', destroy_user_session_path, :method => 'delete'%></li>
	<li><%= link_to '問題列表', new_teacher_path%></li>
	<li><%= link_to '後台主頁', teacher_index_path%></li>
      <% else %>
        <li><%= link_to '登入', new_user_session_path %></li>
      <% end %>
    </ul></font>
  </div>
  <div id="all">
    <div id="top">
      <div id="top-left"><%=link_to image_tag("#{'logo.png'}"), root_path%></div>
      <div id="top-right">
	<div id="top-right-briefintro"></div>
	<div id="top-right-bar">
	  <ul><font face="微軟正黑體">
	     <li><%= link_to "聯絡我們", new_home_path%></li>
	  </ul></font>
	</div>
      </div>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>

<script>
adjustWidth();

function adjustWidth(){
  var w = 0;
  var mysize = 1000;
  if (document.body.clientWidth){
    w = document.body.clientWidth;
  }
  var allDiv = document.getElementById("all");
  var st = (w-1000)/2;
  if(st>0){
    allDiv.style.left = st+"px";
  }
}
</script>

